<!doctype html>
<html>
<head>
</head>
<body>
<header>
    <nav class="navbar navbar-fixed-top navbar-expand-sm navbar-inverse bg-dark justify-content-between">
        <a href = "/home" class = "pr-3"/>IRINA`S THEATER<span
                class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/next_events"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">NEXT EVENT</button></a>
                    <a href="/past_events"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">PAST EVENT</button></a>
                    <a href="/events"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">EVENTS</button></a>
                    <a href="/actors"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">ACTORS</button></a>
                    <a href="/actor_event"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">EVENT POSTER</button></a>
                     <a href="/fests"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">FESTIVALS</button></a>

                </li>
            </ul>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">LOG OUT</button>        
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registration</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SING IN</button>
            <a href="/admin"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">ADMIN</button></a>
           
        </div>
    </nav>
</header>
</body>
</html>